<nav class="navbar navbar-expand-lg navbar-light bg-primary text-light">
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/prospecto">Sistema concredito</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/prospecto/registro" routerLinkActive="active">Registro Prospecto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/prospecto/evaluacion" routerLinkActive="active">Evaluacion Prospecto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>